div{
    height: 100px;
    width: 100px;
    background-color: rgb(99, 173, 155);
}

@media(max-width : 800px){
    div{
        background-color: rgb(13, 94, 151);

    }
}
@media(max-width : 400px){
    div{
        background-color: rgb(173, 117, 199);

    }
}